<!--- Top Navbar -->
<div id="about_top_bar" class="col-md-12">
	<div class="row">
		<div id="about_logo" class="col-md-2 col-md-offset-1">
			<h3><%= link_to "TrevBook", '/static_pages' %></h3>
		</div>
		<div id="about_search" class="col-md-6">
			<input type="text" placeholder="Search for users here" width="100%">
		</div>
		<div id="about_right_dropdown" class="col-md-2">
			<p>Trevor</p>
		</div>
	</div>		
</div>
<!-- / Top Navbar -->