<div id="wrapper" class="container-fluid">
<%= render partial: 'top_navbar' %>

<!-- Content -->
	<div id="content" class="col-md-10 col-md-offset-1">
		<div id="hero_image">
			<p>Trevor Elwell</p>
		</div>
		
		<div id="headshot_image">
			<%= image_tag "headshot.png" %>
		</div>
		
		<%= render partial: 'main_navbar' %>
		
		<div id="about_header" class="col-md-12">
			<h2 class="inline">About</h2>
			<button class="btn btn-info inline pull-right">Edit Profile</button>
		</div>
		
		<div id="row">
			<div id="about_info_container">
				<div id="about_info_left" class="col-md-4">
					<h3>Basic Information</h3>
					<table>
						<tr>
							<td><b>Birthday:</b></td>
							<td>January 1, 1980</td>
						</tr>
						<tr>
							<td><b>College:</b></td>
							<td>Syracuse University</td>
						</tr>
						<tr>
							<td><b>Hometown:</b></td>
							<td>New York, NY</td>
						</tr>
						<tr>
							<td><b>Currently Lives:</b></td>
							<td>New York, NY</td>
						</tr>
					</table>
					
					<h3>Contact Information</h3>
					<table>
						<tr>
							<td><b>Email:</b></td>
							<td><a href="mailto:me@trevorelwell.com">me@trevorelwell.com</a></td>
						</tr>
						<tr>
							<td><b>Telephone:</b></td>
							<td>(315) 565-1799</td>
						</tr>
					</table>
				</div>
				
				<div id="about_info_right" class="col-md-8">
					<h3>Words To Live By</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed erat dignissim, cursus tortor quis, placerat ante. Proin sit amet lorem aliquet, ornare eros non, viverra nulla. Nulla eu ligula id leo aliquam facilisis vel sit amet arcu. Morbi dignissim felis vel finibus ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Donec sapien ipsum, tempor quis nulla nec, accumsan vestibulum justo. Etiam malesuada pellentesque nibh vel tincidunt. Curabitur ac dui vel enim eleifend euismod. Sed vel enim ut ligula convallis ornare sed quis leo. Sed sollicitudin egestas lacinia. Nunc ullamcorper iaculis odio a placerat. Suspendisse a tempus erat, non dictum dui. Suspendisse eu ipsum non nibh maximus iaculis. Duis luctus ultrices aliquam.</p>
					
					<h3>About Me</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed erat dignissim, cursus tortor quis, placerat ante. Proin sit amet lorem aliquet, ornare eros non, viverra nulla. Nulla eu ligula id leo aliquam facilisis vel sit amet arcu. Morbi dignissim felis vel finibus ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Donec sapien ipsum, tempor quis nulla nec, accumsan vestibulum justo. Etiam malesuada pellentesque nibh vel tincidunt. Curabitur ac dui vel enim eleifend euismod. Sed vel enim ut ligula convallis ornare sed quis leo. Sed sollicitudin egestas lacinia. Nunc ullamcorper iaculis odio a placerat. Suspendisse a tempus erat, non dictum dui. Suspendisse eu ipsum non nibh maximus iaculis. Duis luctus ultrices aliquam.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- / Content -->