<div>
  <%= form_for build_comment(resource), {url: user_post_comments_path(current_user.id, resource.id)} do |comment| %>

  <%= comment.text_area :body, {class: "post-input", id: "comment-on-#{resource.class.to_s.downcase}#{resource.id}", placeholder: "What's on your mind?", spellcheck: "true"} %>

  <div class="col-sm-12">
    <a id="cancel" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCommentaForm<%=resource.id%>">Cancel</a>

   	<%= comment.submit "Comment", {class: "post-button navbar-right", id: "submit-comment-#{resource.class.to_s.downcase}#{resource.id}"} %>

  </div>
  <% end %>
</div>