// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module {

	border: 1px solid #DDD;
	margin-top: 20px;

	.module-title {
		text-align: center;
		background-color: #BBB;
		border-bottom: 1px solid #DDD;
		padding: 0px;
		margin: 0px;
	}

	.module-content {
		padding: 20px;
		margin: 0px;

		p {
			margin: 0px;
		}
	}
}

.no-border {
	border: none;
}

.post {

	border: 1px solid #DDD;
	margin-top: 20px;
	padding: 20px 20px 0 20px;

	.post-header {

		margin-bottom: 10px;

		p {
			margin: 0px;
		}

		.post-meta {
			color: #AAA;
			font-size: 12px;
			font-style: italic;
		}
	}

	.post-content {
		margin-bottom: 10px;
	}

}

.post-footer {
	background-color: #AAA;

	section {
		display: inline-block;
	}
}